*, *::before, *::after {
    box-sizing: border-box;
}

body, p {
    margin: 0;
    padding: 0;
}

.project-list {
    display: flex;
}

.add-project {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #ffffff;
    border: 4px dashed #949494;
    border-radius: 20px;

    width: 40px;
    height: 40px;
    
    color: #949494;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.add-project:hover {
    background-color: #dbdbdb;
}

.warning {
    color: #ff0000;
}

.project {
    width: 300px;
    height: 95vh;

    margin: 20px 20px;
    padding: 10px;

    border: 2px solid #cfcfcf;
}

.content-container {
    height: 95%;
    position: relative;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf white;
}

h1 {
    position: sticky;
    top: 0;
    z-index: 1;

    margin: 20px 0;

    background-color: white;

    text-decoration: underline;
}

h2 {
    margin: 40px 0 20px;
    text-decoration: underline;
}

.todo {
    margin: 20px 0;
    border: 2px solid #999999;
    border-radius: 10px;

    /* Adjust these in js */
    /* if no border color, height should be 65px */
    height: 75px; 
    border-top: 10px solid #8bac8b; 

    width: 260px;

    position: relative;
}

.todo div {
    display: flex;
    align-items: center;

    height: 40px;
    width: 250px;
}

.edit-todo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 20px;

    border: 2px solid #999999;
    border-radius: 8px;
}

.edit-todo:hover {
    background-color: #cfcfcf;
}

.delete-todo {
    position: absolute;
    top: -15px;
    right: -5px;

    background-color: #ffbaba;
    border: 2px solid #ff5656;
    border-radius: 100%;
    color: rgb(168, 0, 0);
}

.delete-todo:hover {
    background-color: #ff9090;
}

.checkbox {
    height: 20px;
    width: 20px;
    margin: 0 30px 0 10px;

    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
}

.checkbox:hover {
    background-color: #d2d6d8;
}

.title {
    display: flex;
    align-items: center;

    height: 40px;
    margin: 0 15px 0 0;

    font-size: 18px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: thin;
}

.desc {
    font-size: 12px;
}

.due {
    margin: 0 0 0 100px;
    font-size: 14px;
}

.add-more {
    margin: 10px 0 0 0;
    height: 30px;
    width: 276px;
}

dialog:open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 200px;
    height: 160px;

    border: 2px solid black;
    border-radius: 16px;
}
